@namespace svg "http://www.w3.org/2000/svg";
@namespace xlink "http://www.w3.org/1999/xlink";
html {
  font-size: 1vw; }

body {
  margin: 0;
  font-family: "Exo-2-regular";
  line-height: 1.5;
  background-color: transparent; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrap,
* + .wrap {
  margin-top: 1rem; }

.error {
  color: #c0392b;
  display: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?r3u64e") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo-2-light';
  font-weight: 300;
  src: url("../fonts/exo-2-light.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-2-regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bold';
  font-weight: 600;
  src: url("../fonts/exo-2-bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Exo-2-bilder';
  font-weight: 800;
  src: url("../fonts/exo-2-bolder.woff2") format("woff2"); }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[data-sc-container="hud"] {
  height: 100vh;
  overflow: hidden; }
  [data-sc-container="hud"] .icon-money:before {
    content: "\e913"; }
  [data-sc-container="hud"] .icon-key:before {
    content: "\e90f"; }
  [data-sc-container="hud"] .icon-gas:before {
    content: "\e90b"; }
  [data-sc-container="hud"] .icon-power:before {
    content: "\e90c"; }
  [data-sc-container="hud"] .icon-engine:before {
    content: "\e90d"; }
  [data-sc-container="hud"] .icon-sheet:before {
    content: "\e90e"; }
  [data-sc-container="hud"] .icon-eat:before {
    content: "\e918"; }
  [data-sc-container="hud"] .icon-drink:before {
    content: "\e919"; }
  [data-sc-container="hud"] .icon-microphone:before {
    content: "\e91b"; }
  [data-sc-container="hud"] .icon-microphone-slash:before {
    content: "\e923"; }
  [data-sc-container="hud"] [class^="icon-"], [data-sc-container="hud"] [class*=" icon-"] {
    font-size: 4rem;
    color: #b3b3b3; }

[data-sc-container="hud"] > * {
  display: grid;
  grid-template-columns: 0.5fr 30rem 0.5fr;
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas: ". . basic-info" "basic-hud car-hud .";
  height: 100%; }
  [data-sc-container="hud"] > * > * [class*="icon-"] {
    font-size: 3rem; }
    [data-sc-container="hud"] > * > * [class*="icon-"].red {
      color: darkred; }
  [data-sc-container="hud"] > * > * > * {
    justify-self: center; }
  [data-sc-container="hud"] > * .basic-info {
    grid-area: basic-info;
    padding: 2rem 4rem;
    color: white;
    font-weight: bold;
    text-align: right; }
    [data-sc-container="hud"] > * .basic-info > :first-child {
      margin-right: -1.25rem; }
    [data-sc-container="hud"] > * .basic-info .money {
      position: relative;
      font-size: 1.5rem; }
      [data-sc-container="hud"] > * .basic-info .money::before {
        content: "$";
        position: absolute;
        right: -1.25rem;
        color: green; }
  [data-sc-container="hud"] > * .person-status {
    grid-area: basic-hud;
    display: grid;
    width: max-content;
    margin-left: 16.5rem; }
    [data-sc-container="hud"] > * .person-status span {
      height: 4rem;
      color: #b3b3b3; }
  [data-sc-container="hud"] > * .car-hud {
    align-self: end;
    grid-area: car-hud;
    display: grid;
    grid-template-columns: auto auto 8rem auto auto;
    grid-template-areas: "box-1 box-2 box-3 box-4 box-5";
    grid-gap: 1rem;
    padding: 0.8rem;
    position: relative; }
    [data-sc-container="hud"] > * .car-hud::before {
      content: '';
      width: 100%;
      height: 7rem;
      background-color: #fff3;
      position: absolute;
      top: -2rem;
      z-index: -1;
      border-radius: 100% 100% 0 0; }
    [data-sc-container="hud"] > * .car-hud > :first-child {
      grid-area: box-1; }
    [data-sc-container="hud"] > * .car-hud > :nth-child(2) {
      grid-area: box-2; }
    [data-sc-container="hud"] > * .car-hud > :nth-child(3) {
      grid-area: box-3; }
      [data-sc-container="hud"] > * .car-hud > :nth-child(3) > * {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      [data-sc-container="hud"] > * .car-hud > :nth-child(3) span {
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold; }
        [data-sc-container="hud"] > * .car-hud > :nth-child(3) span:first-child {
          font-size: 2rem;
          margin-top: -1.5rem; }
        [data-sc-container="hud"] > * .car-hud > :nth-child(3) span:nth-child(2) {
          margin-top: -0.5rem; }
        [data-sc-container="hud"] > * .car-hud > :nth-child(3) span:last-child {
          position: absolute;
          top: -1rem;
          right: -3rem;
          color: #b3b3b3; }
    [data-sc-container="hud"] > * .car-hud > :nth-child(4) {
      grid-area: box-4; }
    [data-sc-container="hud"] > * .car-hud > :last-child {
      grid-area: box-5; }
